.header{
    /* background-color: #404751; */
    background-color:  #283747 ;
    color: white;
    display: flex;
    justify-content: center;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    color: white;
    background-color: #55606f;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    border: none;
}

.headerSearch{
    background-color: white;
    border: 3px solid #febb02;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-around;
    border-radius: 5px;
}

.headerIcon{
    color: lightgray;
}